{% extends "base.html" %}
<h2 class="brand-tagline"></h2>

{% load custom_markdown %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>

                    <p class="post-meta">
                        Time: <a class="post-author" href="#">{{ post.date_time |date:'Y M d'}}</a>&nbsp&nbsp
                        Category: <a class="post-category post-category-pure" href="{% url 'search_tag' tag=post.category %}">{{ post.category|title }}</a>&nbsp&nbsp
                        Tag:
                          {% for tag in post.tag.all %}
                            <a class="post-category post-category-pure" href="#">{{ tag }}</a>
                          {% endfor %}
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content }}
                    </p>
                </div>
                <a class="pure-button" href="{% url 'detail' id=post.id %}">Read More >>> </a>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->

    <div class="pager-num">
    {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
      <ul class="pure-paginator-custom" >
      {% if post_list.has_previous %}
         <li><a class="pure-button-custom prev" href="?page={{ post_list.previous_page_number }}">&#171;</a></li>
      {% else %}
         <li class="disabled"><a class="pure-button-custom prev" href="javascript:return false">&#171;</a></li>
      {% endif %}
      {% for p in post_list.paginator.page_range %}
	 {% if p %}
  	 	{% ifequal p post_list.number %}
	    		<li><a class="pure-button-custom pure-button-custom-active" href="#">{{ p }}</a></li>
	 	{% else %}
	    		<li><a class="pure-button-custom" href="?page={{ p }}" title="{{ p }}">{{ p }}</a></li>
	 	{% endifequal %}
	 {% else %}
		<li><a class="pure-button-custom" href="#">...</a></li>
         {% endif %}
      {% endfor %}  
      {% if post_list.has_next %}
        <li><a class="pure-button-custom  next"  href="?page={{ post_list.next_page_number }}">&#187;</a></li>
      {% else %}
        <li class="disabled"><a class="pure-button-custom  next"  href="javascript:return false">&#187;</a></li>
        
      {% endif %}
      </ul>
    {% endif %}
    </div>
{% endblock %}      
            
