.profile { 
  width:100%;
  height:150px;
}
.profile #photo {
  width:100px;
  height:100px;
  border-radius: 50%;
  background: white;
  text-align:center;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  margin: 10px 20px 20px 120px; 

}
.head { 
 width:100%;
 height:300px; 

}
.head .brand-title {
   text-align:center;

}

img {
   border-radius:50%;
}

/* 页码链接 */
.pager-num {
	 margin-top: 30px;
	 margin-right:auto;
	 margin-left:auto;
	 width:600px;
	 height:100px;
}
.pure-paginator-custom {
	 list-style-type: none;
	 height: 43px; 
	 width: 500px;
	 margin:0;
	 padding:0;
}
.pure-paginator-custom li {
 	float:left;
	border-radius: 2px;
}
.pure-paginator-custom .disabled {
	color:#949297;
}
.pure-paginator-custom .pure-button-custom-focus, .pure-paginator-custom .pure-button-custom-active {
	outline-style: solid;
	outline-color: #b3abab;
        outline-width: 0.5px;
	position: relative;
}
.pure-paginator-custom .prev , .pure-paginator-custom .next {
	color:#c0c1c3;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);

}
.pure-paginator-custom .prev {
	border-radius: 2px 0 0 2px;
}
.pure-paginator-custom .next {
	border-radius: 0 2px 2px 0;
}
.pager-num  a:link, .pager-num a:visited
{
	display:block;
        font-weight:thin;
	color: #3b8bba;
	background-color:#e6e6e6;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
	width:43px;
	font-family: inherit;
	padding: 0.8em 1.4em;
}
.pager-num a:hover, .pager-num a:active
{
	background-color:#c9c0c0;

}

